@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nanum Gothic", sans-serif, "맑은 고딕";
    font-weight: 100;
    font-style: normal;

    /* 추가 스타일 부분 */
    /* background-color: #0c3268; */
    /* color: rgb(243, 243, 243); */
    text-align: center;
}

.btn {
    margin-top: 50px;
    font-weight: 400;
    background-color: #007bff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    /* line-height: 1.2; */
    border-color: #007bff;
    border-radius: 0.25rem;
    /* 애니메이션(transition) */
    transition: background-color 0.5s ease-in-out,
        border-color 0.3s,
        box-shadow 0.3s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 1px 1px 2px black, 1px 1px 3px #ccc;
    cursor: pointer;
    font-weight: 800;
}

/* 기본 레이아웃 설정 */
/* #wrap {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto 0;
} */

/* h1 {
    background-color: yellow;
    width: 200px;
    margin-left: 80px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 10px;
    letter-spacing: 10px;
    box-shadow: 2px 2px 4px black;
} */

#container {
    width: 100%;
    /* 전체 폭을 100%로 설정하여 부모 요소의 폭을 기준으로 확장 */
    border: 1px solid black;
    padding: 10px;
    /* 패딩 추가 */
    box-sizing: border-box;
    /* 패딩과 테두리가 전체 폭에 포함되도록 설정 */
    display: flex;
    /* 플렉스 박스를 사용하여 자식 요소를 수평으로 정렬 */
    flex-wrap: nowrap;
    /* 줄 바꿈 없이 한 줄에 배치 */
    overflow-x: auto;
    /* 수평 스크롤이 필요한 경우 활성화 */
}

.gugudan-block {
    border: 1px solid black;
    width: 150px;
    /* 각 구구단 블록의 너비 설정 */
    box-sizing: border-box;
    /* 패딩과 테두리가 전체 폭에 포함되도록 설정 */
    margin: 10px;
    /* 마진 설정 */
    padding: 10px;
    /* 패딩 설정 */
    background-color: aliceblue;
    text-align: center;
    /* 텍스트 중앙 정렬 */
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

.title {
    color: red;
    font-weight: bold;
}

.gugudan-item {
    margin: 5px 0;
    font-size: 1em;
}