@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nanum Gothic", sans-serif, "맑은 고딕";
    font-weight: 400;
    font-style: normal;
}

/* h1, a, p {
    border: 1px solid red;
} */

/* 웹문서상에 id선택자에 대해서 스타일 적용 부분 */
#container {
    width: 520px;
    border: 2px solid black;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black, 3px 4px 5px #cccccc;
}

h1 {
    text-align: center;
    line-height: 2em;
    color: blue;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    /* border: 1px solid red; */
}

#line {
    border: 10px solid black;
}

p {
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    line-height: 2em;
}