@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nanum Gothic", sans-serif, "맑은 고딕";
    font-weight: 400;
    font-style: normal;

    /* 추가 스타일 부분 */
    /* text-align: center; */
    background-color: #ffffff;
}

#contents {
    width: 550px;
    height: auto;
    border: 3px solid black;
    font-size: 1.3em;
    font-weight: bold;

    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 2px 2px 3px #cccccc;
}

/* 이미지에 대한 위치 스타일 조정하기 */
#contents>img {
    float: left;
    margin-right: 25px;
}

/* contents내에 있는 ul태그에 대한 스타일 조정하기 */
#contents ul {
    list-style-type: none;
    padding-top: 40px;
}

#contents li {
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

#contents li>label {
    width: 120px;
    float: left;
    text-align: right;
}

#contents input[type="text"] {
    width: 120px;
    padding: 5px 10px;
    margin: 0 5px 0 10px;

    text-align: right;
}

.li3 {
    margin-top: 20px;
    text-align: center;
}

/* 계산된 값이 표시되는 div에 대한 스타일 적용 */
#showResult {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 0.9em;
}

.btn {
    margin-top: 50px;
    font-weight: 400;
    background-color: #007bff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    /* line-height: 1.2; */
    border-color: #007bff;
    border-radius: 0.25rem;
    /* 애니메이션(transition) */
    transition: background-color 0.5s ease-in-out,
        border-color 0.3s,
        box-shadow 0.3s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 1px 1px 2px black, 1px 1px 3px #ccc;
    cursor: pointer;
    font-weight: 800;
}