@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nanum Gothic", sans-serif, "맑은 고딕";
    font-weight: 400;
    font-style: normal;

    /* 추가 스타일 부분 */
    text-align: center;
}

.table {
    border: 1px solid blue;
    margin: 50px auto;
}

