@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Sunflower:wght@300&display=swap');

/* 웹 문서 초기화 부분 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* 전체 페이지 스타일 */
/* 이 부분은 웹 문서 전체 글꼴에 대한 스타일 적용부분 */
body {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: #333;
    background-color: #f4f4f4;
}

/* 웹문서상에 img태그에 대한 스타일 적용부분 */
.art1 {
    margin: 0px auto;
    margin-top: 30px;
    width: 700px;
}

.art2 {
    margin: 0px auto;
    margin-top: 30px;
    width: 960px;
}

.art1 .art2 img {
    border: 20px ridge violet;
}

.tbin-img {
    border: 20px ridge black;
}

/* 테이블에 대한 스타일 적용부분 */
table, th, td {
    border: 1px solid black;
    border-collapse: separate;    
}

.art2 th {
    font-size: 1.5em;
}

.tr1c1 th {
    width: 360px;
    padding: 10px;
}

.tr1c1 td {
    width: 360px;
    height: 360px;
    padding: 10px;
}

/* 3. 복습문제 */
.art3 {
    width: 540px;
}

.art3 table {
    text-align: center;
}

.art3 img {
    margin: 10px auto;
}